<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @character.profession %>
</p>

<p> 
<ul>
<strong> Movie(s) this character is in: </strong>
<% @character.movies.each do |movie| %>
<li><%=  link_to movie.title, movie_path(movie) %></li>
<%end %>
</ul>
</p>

<p> 
<ul>
<strong> Actor: </strong>
<% @character.movies.each do |movie| %>
  <% movie.actors.find do |actor| %>
<li><%=  link_to actor.name, actor_path(actor) %></li>
<%end %>
<%end %>
</ul>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
